<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.cooltigerproduct.mapper.ProductSpecNameMapper">

    <!-- 添加商品规格名 -->
    <insert id="addProductSpecName" parameterType="ProductSpecName" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ky_product_spec_name
            (name, product_id, order)
        VALUES
            (#{productSpecName.name}, #{productSpecName.productId}, #{productSpecName.order})
    </insert>

</mapper>