<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.product.mapper.ProductDetailsMapper">

    <!-- 添加商品详情 -->
    <insert id="addProductDetails" parameterType="ProductDetails">
        INSERT INTO ky_product_details
            (product_id, details)
        VALUES
            (#{productDetails.productId}, #{productDetails.details})
    </insert>

    <!-- 删除商品详情 -->
    <delete id="deleteProductDetailsByProductId">
        DELETE
        FROM ky_product_details
        WHERE product_id = #{productId}
    </delete>

    <!-- 根据商品ID查询商品详情 -->
    <select id="getProductDetailsByProductId" resultType="ProductDetails">
        SELECT details_id,product_id,details
        FROM ky_product_details
        WHERE product_id = #{productId}
    </select>

    <!-- 修改商品详情 -->
    <update id="updateProductDetails" parameterType="ProductDetails">
        UPDATE ky_product_details
        SET details = #{productDetails.details}
        WHERE product_id = #{productDetails.productId}
          AND details_id = #{productDetails.detailsId}
    </update>
</mapper>