<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.product.mapper.ProductSkuMapper">

    <!-- 添加商品sku信息 -->
    <insert id="addProductSku" parameterType="ProductSku" useGeneratedKeys="true" keyProperty="skuId">
        INSERT INTO ky_product_sku
        (sku_code, sku_name, product_id, spec_value_ids, sale_price, stock, weight,
         distri_type, distri_ratio, distri_amount, deleted)
        VALUES
        (#{productSku.skuCode}, #{productSku.skuName}, #{productSku.productId},
         #{productSku.specValueIds}, #{productSku.salePrice}, #{productSku.stock},
         #{productSku.weight}, #{productSku.distriType}, #{productSku.distriRatio},
         #{productSku.distriAmount}, #{productSku.deleted})
    </insert>

    <!-- 更改商品sku信息为已删除 -->
    <update id="deleteProductSku">
        UPDATE ky_product_sku
        SET
            deleted = 1
        WHERE product_id = #productId}
    </update>

    <select id="getProductSkuListByProductId" resultType="ProductSku">
        SELECT
            sku_id         skuId,
            sku_code       skuCode,
            sku_name       skuName,
            product_id     productId,
            spec_value_ids specValueIds,
            sale_price     salePrice,
            stock,
            weight,
            distri_type    distriType,
            distri_ratio   distriRatio,
            distri_amount  distriAmount,
            create_time    createTime,
            modified_time  modifiedTime
        FROM ky_product_sku
        WHERE product_id = #{productId}
          AND deleted = 0
    </select>
</mapper>