<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.product.mapper.ProductBrandInfoMapper">

    <!-- 根据品牌名称查询品牌个数 -->
    <select id="getProductBrandCountByBrandName" resultType="int">
        SELECT
            COUNT(1)
        FROM ky_product_brand_info
        WHERE brand_name = #{brandName}
    </select>

    <!-- 添加品牌信息 -->
    <insert id="addProductBrandInfo" parameterType="ProductBrandInfo">
        INSERT
        INTO ky_product_brand_info
            (brand_name, brand_logo_url, brand_desc, brand_order, brand_status)
        VALUES
        (#{productBrandInfo.brandName}, #{productBrandInfo.brandLogoUrl}, #{productBrandInfo.brandDesc},
         #{productBrandInfo.brandOrder}, #{productBrandInfo.brandStatus})
    </insert>

    <!-- 查询品牌列表个数 -->
    <select id="getProductBrandListCountByKeyword" resultType="int">
        SELECT
        COUNT(1)
        FROM ky_product_brand_info
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND brand_name like CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <!-- 查询商品品牌列表 -->
    <select id="getProductBrandInfoList" resultType="ProductBrandInfo">
        SELECT
        brand_id brandId,
        brand_name brandName,
        brand_logo_url brandLogoUrl,
        brand_desc brandDesc,
        brand_order brandOrder,
        brand_status brandStatus,
        create_time createTime,
        modified_time modifiedTime
        FROM ky_product_brand_info
        WHERE 1 = 1
        <if test="keyword != null and keyword != ''">
            AND brand_name like CONCAT('%', #{keyword}, '%')
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <!-- 根据品牌ID查询品牌信息 -->
    <select id="getProductBrandInfoByBrandId" resultType="ProductBrandInfo">
        SELECT
            brand_id       brandId,
            brand_name     brandName,
            brand_logo_url brandLogoUrl,
            brand_desc     brandDesc,
            brand_order    brandOrder,
            brand_status   brandStatus,
            create_time    createTime,
            modified_time  modifiedTime
        FROM ky_product_brand_info
        WHERE brand_id = #{brandId}
    </select>

    <!-- 修改品牌信息 -->
    <update id="updateProductBrandInfo" parameterType="ProductBrandInfo">
        UPDATE ky_product_brand_info
        SET
            brand_name     = #{productBrandInfo.brandName},
            brand_logo_url = #{productBrandInfo.brandLogoUrl},
            brand_desc     = #{productBrandInfo.brandDesc},
            brand_order    = #{productBrandInfo.brandOrder},
            brand_status   = #{productBrandInfo.brandStatus}
        WHERE brand_id = #{productBrandInfo.brandId}
    </update>

    <!-- 删除品牌信息 -->
    <delete id="delProductBrandInfo">
        DELETE
        FROM ky_product_brand_info
        WHERE brand_id = #{brandId}
    </delete>

</mapper>