<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.product.mapper.ProductSpecValueMapper">

    <!-- 批量添加商品规格值 -->
    <insert id="batchAddProductSpecValue" parameterType="ProductSpecValue" useGeneratedKeys="true"
            keyProperty="valueId">
        INSERT INTO ky_product_spec_value
        (spec_value, spec_name_id, sort)
        VALUES
        <foreach collection="list" item="productSpecValue" index="index" separator=",">
            (#{productSpecValue.specValue},#{productSpecValue.specNameId},#{productSpecValue.sort})
        </foreach>
    </insert>

    <!-- 根据商品规格名Ids删除商品规格值 -->
    <delete id="deleteProductSpecValueBySpecNameIds">
        DELETE
        FROM ky_product_spec_value
        WHERE spec_name_id IN (#{specNameIds})
    </delete>

    <!-- 根据id字符串查询规格值集合 -->
    <select id="getSpecValueListByValueIds" resultType="ProductSpecValue">
        SELECT
            value_id      valueId,
            spec_value    specValue,
            spec_name_id  specNameId,
            sort,
            create_time   createTime,
            modified_time modifiedTime
        FROM
            ky_product_spec_value
        WHERE
            id IN (#{specValueIds})
    </select>

    <!-- 根据规格名ID获取规格值集合 -->
    <select id="getSpecValueListByNameId" resultType="ProductSpecValue">
        SELECT
            value_id      valueId,
            spec_value    specValue,
            spec_name_id  specNameId,
            sort,
            create_time   createTime,
            modified_time modifiedTime
        FROM
            ky_product_spec_value
        WHERE
            spec_name_id IN (#{specNameId})
    </select>
</mapper>