<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.cooltigerproduct.mapper.ProductPictureMapper">

    <!-- 添加商品图片 -->
    <insert id="addProductPicture" parameterType="ProductPicture">
        INSERT INTO ky_product_picture
            (type, relation_id, url, is_main, order)
        VALUES
        (#{productPicture.type}, #{productPicture.relationId}, #{productPicture.url},
         #{productPicture.isMain}, #{productPicture.order})
    </insert>

    <!-- 根据关联ids删除多个商品图片 -->
    <delete id="deleteProductPictureByRelationIds" parameterType="java.util.List">
        DELETE FROM ky_product_picture WHERE relation_id IN (
        <foreach collection="list" item="relationId" index="index" separator=",">
            #{relationId}
        </foreach>
        )
    </delete>
</mapper>