<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.product.mapper.ProductSpecNameMapper">

    <!-- 添加商品规格名 -->
    <insert id="addProductSpecName" parameterType="ProductSpecName" useGeneratedKeys="true" keyProperty="productSpecName.nameId">
        INSERT INTO ky_product_spec_name
            (spec_name, product_id, sort)
        VALUES
        (#{productSpecName.specName}, #{productSpecName.productId}, #{productSpecName.sort})
    </insert>

    <!-- 查询商品规格名集合 -->
    <select id="getProductSpecNameListByProductId">
        SELECT
            name_id nameId,
            spec_name specName,
            product_id productId
            sort
        FROM ky_product_spec_name
        WHERE product_id = #{productId}
        ORDER BY 'sort'
    </select>

    <!-- 删除商品规格名 -->
    <delete id="deleteProductSpecNameByProductId">
        DELETE
        FROM ky_product_spec_name
        WHERE product_id = #{productId}
    </delete>
</mapper>