<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.product.mapper.StoreInfoMapper">

    <!-- 添加店铺信息 -->
    <insert id="addStoreInfo" parameterType="StoreInfo" useGeneratedKeys="true" keyProperty="storeInfo.storeId">
        INSERT INTO ky_store_info
        (store_code, store_name, store_logo_url, relation_name, relation_tel, store_address, id_card_main_url,
         id_card_back_url, sale_category, main_products, apply_user_id, bank_card_number, bank_of_deposit,
         account_name, audit_status, sign_status, sign_time_start, sign_time_end, deleted)
        VALUES
        (#{storeInfo.storeCode}, #{storeInfo.storeName}, #{storeInfo.storeLogoUrl},
         #{storeInfo.relationName}, #{storeInfo.relationTel}, #{storeInfo.storeAddress},
         #{storeInfo.idCardMainUrl}, #{storeInfo.idCardBackUrl}, #{storeInfo.saleCategory},
         #{storeInfo.mainProducts}, #{storeInfo.applyUserId}, #{storeInfo.bankCardNumber},
         #{storeInfo.bankOfDeposit}, #{storeInfo.accountName}, #{storeInfo.auditStatus},
         #{storeInfo.signStatus}, #{storeInfo.signTimeStart}, #{storeInfo.signTimeEnd},
         #{storeInfo.deleted})
    </insert>

    <!--  根据关键字查询总条数 -->
    <select id="getTotalCountByKeyword" resultType="int">
        SELECT COUNT(1)
        FROM ky_store_info
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND store_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <!-- 根据关键字查询店铺列表 -->
    <select id="getStoreListByKeyword" resultType="com.kyj.cooltiger.feign.product.vo.StoreInfoListRespVo">
        SELECT
        store_id storeId,
        store_code storeCode,
        store_name storeName,
        store_logo_url storeLogoUrl,
        relation_name relationName,
        relation_tel relationTel,
        store_address storeAddress,
        sale_category saleCategory,
        main_products mainProducts,
        apply_user_id applyUserId,
        bank_card_number bankCardNumber,
        bank_of_deposit bankOfDeposit,
        account_name accountName,
        audit_status auditStatus,
        sign_status signStatus,
        sign_time_start signTimeStart,
        sign_time_end signTimeEnd,
        create_time createTime,
        modified_time modifiedTime
        FROM ky_store_info
        WHERE deleted = 0
        <if test="keyword != null and keyword != ''">
            AND store_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <!-- 查询店铺信息 -->
    <select id="getStoreInfo" resultType="StoreInfo">
        SELECT
            store_id         storeId,
            store_code       storeCode,
            store_name       storeName,
            store_logo_url   storeLogoUrl,
            relation_name    relationName,
            relation_tel     relationTel,
            store_address    storeAddress,
            id_card_main_url idCardMainUrl,
            id_card_back_url idCardBackUrl,
            sale_category    saleCategory,
            main_products    mainProducts,
            apply_user_id    applyUserId,
            bank_card_number bankCardNumber,
            bank_of_deposit  bankOfDeposit,
            account_name     accountName,
            audit_status     auditStatus,
            sign_status      signStatus,
            sign_time_start  signTimeStart,
            sign_time_end    signTimeEnd,
            create_time      createTime,
            modified_time    modifiedTime
        FROM ky_store_info
        WHERE store_id = #{storeId}
          AND deleted = 0
    </select>

    <!-- 更新店铺信息 -->
    <update id="updateStoreInfo" parameterType="StoreInfo">
        UPDATE ky_store_info
        SET
            store_code       = #{storeInfo.storeCode},
            store_name       = #{storeInfo.storeName},
            store_logo_url   = #{storeInfo.storeLogoUrl},
            relation_name    = #{storeInfo.relationName},
            relation_tel     = #{storeInfo.relationTel},
            store_address    = #{storeInfo.storeAddress},
            id_card_main_url = #{storeInfo.idCardMainUrl},
            id_card_back_url = #{storeInfo.idCardBackUrl},
            sale_category    = #{storeInfo.saleCategory},
            main_products    = #{storeInfo.mainProducts},
            apply_user_id    = #{storeInfo.applyUserId},
            bank_card_number = #{storeInfo.bankCardNumber},
            bank_of_deposit  = #{storeInfo.bankOfDeposit},
            account_name     = #{storeInfo.accountName},
            audit_status     = #{storeInfo.auditStatus},
            sign_status      = #{storeInfo.signStatus},
            sign_time_start  = #{storeInfo.signTimeStart},
            sign_time_end    = #{storeInfo.signTimeEnd}
        WHERE store_id = #{storeInfo.storeId}
          AND deleted = 0
    </update>

    <!-- 根据店铺名称查询店铺个数 -->
    <select id="getStoreInfoCountByStoreName" resultType="int">
        SELECT
            COUNT(1)
        FROM ky_store_info
        WHERE store_name = #{storeName}
          AND deleted = 0
    </select>

    <!-- 查询店铺评分信息 -->
    <select id="getStoreReviewInfo" resultType="com.kyj.cooltiger.feign.product.vo.StoreReviewScoreResqVo">
        SELECT
            store.store_id storeId,
            store.store_name storeName,
            store.store_logo_url storeLogoUrl,
            FORMAT(IFNULL(AVG(rev.review_star),5.0),1) reviewStar,
            FORMAT(IFNULL(AVG(rev.logistics_star),5.0),1) logisticsStar,
            FORMAT(IFNULL(AVG(rev.store_star),5.0),1) storeStar
        FROM
            ky_store_info store
                LEFT JOIN ky_order_review rev ON rev.store_id = store.store_id
        WHERE
            store.store_id = #{storeId}
    </select>
</mapper>