<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.cooltigerproduct.mapper.StorePictureMapper">

    <!-- 添加店铺图片信息 -->
    <insert id="addStorePicture" parameterType="StorePicture">
        INSERT INTO ky_store_picture
            (store_id, picture_type, url)
        VALUES
        (#{storePicture.storeId}, #{storePicture.pictureType}, #{storePicture.url})
    </insert>

    <select id="getStorePictureList" resultType="StorePicture">
        SELECT
            id,
            store_id     storeId,
            picture_type pictureType,
            url
        FROM ky_store_picture
        WHERE store_id = #{storeId}
    </select>

</mapper>