<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kyj.cooltiger.cooltigerproduct.mapper.StoreInfoMapper">

    <!-- 添加店铺信息 -->
    <insert id="addStoreInfo" parameterType="StoreInfo" useGeneratedKeys="true" keyProperty="storeId">
        INSERT INTO ky_store_info
        (store_code, store_name, logo_url, relation_name, relation_tel, store_address, id_card_main_url,
         id_card_back_url, sale_category, main_products, apply_user_id, bank_card_number, bank_of_deposit,
         account_name, audit_status, sign_status, sign_time_start, sign_time_end, deleted)
        VALUES
        (#{storeInfo.storeCode}, #{storeInfo.storeName}, #{storeInfo.logoUrl},
         #{storeInfo.relationName}, #{storeInfo.relationTel}, #{storeInfo.storeAddress},
         #{storeInfo.idCardMainUrl}, #{storeInfo.idCardBackUrl}, #{storeInfo.saleCategory},
         #{storeInfo.mainProducts}, #{storeInfo.applyUserId}, #{storeInfo.bankCardNumber},
         #{storeInfo.bankOfDeposit}, #{storeInfo.accountName}, #{storeInfo.auditStatus},
         #{storeInfo.signStatus}, #{storeInfo.signTimeStart}, #{storeInfo.signTimeEnd},
         #{storeInfo.deleted})
    </insert>

    <!-- 查询店铺列表 -->
    <select id="getStoreList" resultType="com.kyj.cooltiger.cooltigerfeign.product.vo.StoreInfoListRespVo">
        SELECT
            store_id         storeId,
            store_code       storeCode,
            store_name       storeName,
            logo_url         logoUrl,
            relation_name    relationName,
            relation_tel     relationTel,
            store_address    storeAddress,
            id_card_main_url idCardMainUrl,
            id_card_back_url idCardBackUrl,
            sale_category    saleCategory,
            main_products    mainProducts,
            apply_user_id    applyUserId,
            bank_card_number bankCardNumber,
            bank_of_deposit  bankOfDeposit,
            account_name     accountName,
            audit_status     auditStatus,
            sign_status      signStatus,
            sign_time_start  signTimeStart,
            sign_time_end    signTimeEnd,
            create_time      createTime,
            modified_time    modifiedTime
        FROM ky_store_info
        WHERE deleted = 0
    </select>

    <!-- 查询店铺信息 -->
    <select id="getStoreInfo" resultType="StoreInfo">
        SELECT
            store_id         storeId,
            store_code       storeCode,
            store_name       storeName,
            logo_url         logoUrl,
            relation_name    relationName,
            relation_tel     relationTel,
            store_address    storeAddress,
            id_card_main_url idCardMainUrl,
            id_card_back_url idCardBackUrl,
            sale_category    saleCategory,
            main_products    mainProducts,
            apply_user_id    applyUserId,
            bank_card_number bankCardNumber,
            bank_of_deposit  bankOfDeposit,
            account_name     accountName,
            audit_status     auditStatus,
            sign_status      signStatus,
            sign_time_start  signTimeStart,
            sign_time_end    signTimeEnd,
            create_time      createTime,
            modified_time    modifiedTime
        FROM ky_store_info
        WHERE store_id = #{storeId}
          AND deleted = 0
    </select>

    <!-- 更新店铺信息 -->
    <update id="updateStoreInfo" parameterType="StoreInfo">
        UPDATE ky_store_info
        SET
            store_code       = #{storeInfo.storeCode},
            store_name       = #{storeInfo.storeName},
            logo_url         = #{storeInfo.logoUrl},
            relation_name    = #{storeInfo.relationName},
            relation_tel     = #{storeInfo.relationTel},
            store_address    = #{storeInfo.storeAddress},
            id_card_main_url = #{storeInfo.idCardMainUrl},
            id_card_back_url = #{storeInfo.idCardBackUrl},
            sale_category    = #{storeInfo.saleCategory},
            main_products    = #{storeInfo.mainProducts},
            apply_user_id    = #{storeInfo.applyUserId},
            bank_card_number = #{storeInfo.bankCardNumber},
            bank_of_deposit  = #{storeInfo.bankOfDeposit},
            account_name     = #{storeInfo.accountName},
            audit_status     = #{storeInfo.auditStatus},
            sign_status      = #{storeInfo.signStatus},
            sign_time_start  = #{storeInfo.signTimeStart},
            sign_time_end    = #{storeInfo.signTimeEnd}
        WHERE store_id = #{storeInfo.storeId}
    </update>

</mapper>