<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyj.cooltiger.oauth.dao.ProductCategoryDao">

    <resultMap type="com.kyj.cooltiger.oauth.entity.ProductCategoryVo" id="pdMap">
        <result property="rotationId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="logoUrl" column="logo_url"/>
        <result property="parentId" column="parent_id"/>
        <result property="categoryStatus" column="category_status"/>
        <result property="createTime" column="create_time"/>
        <result property="modifiedTime" column="modified_time"/>
    </resultMap>
    <select id="querycategorylist" resultType="com.kyj.cooltiger.oauth.entity.ProductCategoryVo">
        select
        category_id,
        category_name,
        logo_url
        from ky_product_category
        where parent_id=#{parentId}


    </select>
    <select id="categorylist" resultType="com.kyj.cooltiger.oauth.entity.ProductCategoryVo">
        select
            category_id,
            category_name
        from ky_product_category
        where parent_id=0
    </select>
    <select id="queryTotal" resultType="int">
        select count(*) from ky_product_category
        WHERE 1=1
    </select>
</mapper>