<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyj.cooltiger.oauth.dao.UserDao">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.kyj.cooltiger.oauth.entity.Userpo" id="userMap">
        <result property="userId" column="id"/>
        <result property="userCode" column="user_code"/>
        <result property="username" column="user_name"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="age" column="age"/>
        <result property="register_time" column="register_time"/>
        <result property="last_login_time" column="last_login_time"/>
        <result property="last_login_ip" column="last_login_ip"/>
        <result property="user_level_id" column="user_level_id"/>
        <result property="nickname" column="nick_name"/>
        <result property="mobile" column="mobile"/>
        <result property="register_ip" column="register_ip"/>
        <result property="avatar" column="avatar"/>
        <result property="weixin_openid" column="weixin_openid"/>
        <result property="idCard" column="id_card"/>
        <result property="isReal" column="is_real"/>
        <result property="qrCode" column="qr_code"/>
        <result property="realName" column="real_name"/>
        <result property="registerchannel" column="register_channel"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="modified_time"/>
    </resultMap>
    <select id="queryuserList" resultType="com.kyj.cooltiger.oauth.entity.Userpo">
        SELECT a.id,
               a.user_code,
               a.user_name,
               a.gender,
               a.age,
               a.avatar,
               a.nick_name,
               a.id_card,
               a.citys,
               a.mobile,
               a.register_time,
               a.register_channel
        from ky_user_info a
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="queryTotals" resultType="int">
        SELECT COUNT(id) from ky_user_info
    </select>
    <select id="queryObject" resultMap="userMap">
        select * from ky_user_info where id = #{value}
    </select>

    <select id="queryByOpenId" resultMap="userMap">
        select * from ky_user_info
        where 1 = 1
        <if test="openId != null">
            and `weixin_openid` = #{openId}
        </if>
    </select>

    <select id="queryByuserCode" resultMap="userMap">
        select * from ky_user_info
        where 1 = 1
        <if test="userCode != null and userCode != 0">
            and `user_code` = #{userCode}
        </if>
    </select>
    <select id="queryList" resultMap="userMap">
        select * from ky_user_info
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from ky_user_info
    </select>

    <insert id="save" parameterType="com.kyj.cooltiger.oauth.entity.Userpo" useGeneratedKeys="true" keyProperty="userId">
        insert into ky_user_info
        (
            `user_code`,
            `user_name`,
            `password`,
            `gender`,
            `age`,
            `register_time`,
            `last_login_time`,
            `last_login_ip`,
            `user_level_id`,
            `nick_name`,
            `mobile`,
            `register_ip`,
            `avatar`,
            `weixin_openid`,
            `register_channel`,
            `qr_code`,
            `real_name`,
            `create_time`


        )
        values
        (
            #{userCode},
            #{username},
            #{password},
            #{gender},
            #{age},
            #{register_time},
            #{last_login_time},
            #{last_login_ip},
            #{user_level_id},
            #{nickname},
            #{mobile},
            #{register_ip},
            #{avatar},
            #{weixin_openid},
            #{registerchannel},
            #{qrCode},
            #{realName},
            #{createTime}

        )
    </insert>

    <update id="update" parameterType="com.kyj.cooltiger.oauth.entity.Userpo">
        update ky_user_info
        <set>
            <if test="username != null">`user_name` = #{username},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="gender != null">`gender` = #{gender},</if>
            <if test="age != null">`age` = #{age},</if>
            <if test="register_time != null">`register_time` = #{register_time},</if>
            <if test="last_login_time != null">`last_login_time` = #{last_login_time},</if>
            <if test="last_login_ip != null">`last_login_ip` = #{last_login_ip},</if>
            <if test="user_level_id != null">`user_level_id` = #{user_level_id},</if>
            <if test="nickname != null">`nick_name` = #{nickname},</if>
            <if test="mobile != null">`mobile` = #{mobile},</if>
            <if test="register_ip != null">`register_ip` = #{register_ip},</if>
            <if test="avatar != null">`avatar` = #{avatar},</if>
            <if test="weixin_openid != null">`weixin_openid` = #{weixin_openid},</if>
            <if test="idCard != null">`id_card` = #{idCard},</if>
            <if test="registerchannel != null">`registerchannel` = #{registerchannel},</if>
            <if test="isReal != null">`is_real` = #{isReal},</if>
            <if test="qrCode != null">`qr_code` = #{qrCode},</if>
            <if test="realName != null">`real_name` = #{realName},</if>
            <if test="updateTime != null">`modified_time` = #{updateTime}</if>

        </set>
        where id = #{userId}
    </update>

    <update id="updatelogintime" parameterType="com.kyj.cooltiger.oauth.entity.Userpo">
        update ky_user_info
        <set>
            <if test="last_login_time != null">`last_login_time` = #{last_login_time},</if>
            <if test="last_login_ip != null">`last_login_ip` = #{last_login_ip},</if>
        </set>
        where usercode = #{userCode}
    </update>
    <update id="updateUserInfo" parameterType="com.kyj.cooltiger.oauth.entity.Userpo">
        update ky_user_info
        <set>
            <if test="username != null">`user_name` = #{username},</if>
            <if test="gender != null">`gender` = #{gender},</if>
            <if test="age != null">`age` = #{age},</if>
            <if test="nickname != null">`nick_name` = #{nickname},</if>
            <if test="mobile != null">`mobile` = #{mobile},</if>
            <if test="avatar != null">`avatar` = #{avatar},</if>
            <if test="realName != null">`real_name` = #{realName},</if>
            <if test="updateTime != null">`modified_time` = #{updateTime}</if>
        </set>
        where usercode = #{userCode}
    </update>

</mapper>