<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kyj.cooltiger.order.mapper.RefundApplicationMapper">

    <resultMap type="com.kyj.cooltiger.order.entity.RefundApplication" id="raMap">
        <result property="refundId" column="refund_id"/>
        <result property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="reasonId" column="reason_id"/>
        <result property="refundPrice" column="refund_price"/>
        <result property="deleted" column="deleted"/>
        <result property="refundDesc" column="refund_desc"/>
        <result property="proofPicture" column="proof_picture"/>
        <result property="handleSatus" column="handle_status"/>
        <result property="createTime" column="create_time"/>
        <result property="received" column="received"/>
    </resultMap>

    <insert id="save" parameterType="com.kyj.cooltiger.order.entity.Commentreview">
        insert into ky_user_address(
            `order_id`,
            `user_id`,
            `reason_id`,
            `refund_price`,
            `deleted`,
            `refund_desc`,
            `proof_picture`,
            `handle_status`,
            `received`,
            `create_time`)
        values(
                  #{orderId},
                  #{userId},
                  #{reasonId},
                  #{refundPrice},
                  #{deleted},
                  #{refundDesc},
                  #{proofPicture},
                  #{handleSatus},
                  #{received},
                  #{createTime})
    </insert>

</mapper>